@font-face {
	font-family: Heebo;
	font-style: normal;
	font-weight: 100;
	src: url('~/assets/fonts/Heebo-Thin.ttf') format('truetype');
}

@font-face {
	font-family: Heebo;
	font-style: normal;
	font-weight: 200;
	src: url('~/assets/fonts/Heebo-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: Heebo;
	font-style: normal;
	font-weight: 300;
	src: url('~/assets/fonts/Heebo-Light.ttf') format('truetype');
}

@font-face {
	font-family: Heebo;
	font-style: normal;
	font-weight: 400;
	src: url('~/assets/fonts/Heebo-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Heebo;
	font-style: normal;
	font-weight: 500;
	src: url('~/assets/fonts/Heebo-Medium.ttf') format('truetype');
}

@font-face {
	font-family: Heebo;
	font-style: normal;
	font-weight: 600;
	src: url('~/assets/fonts/Heebo-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: Heebo;
	font-style: normal;
	font-weight: 700;
	src: url('~/assets/fonts/Heebo-Bold.ttf') format('truetype');
}

@font-face {
	font-family: Heebo;
	font-style: normal;
	font-weight: 800;
	src: url('~/assets/fonts/Heebo-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: Heebo;
	font-style: normal;
	font-weight: 900;
	src: url('~/assets/fonts/Heebo-Black.ttf') format('truetype');
}


@font-face {
	font-family: Kamand;
	font-style: normal;
	font-weight: 300;
	src: url('~/assets/fonts/kamand/Woff2/Kamand-Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('~/assets/fonts/kamand/Woff/Kamand-Light.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: Kamand;
	font-style: normal;
	font-weight: normal;
	src: url('~/assets/fonts/kamand/Woff2/Kamand-Regular.woff2') format('woff2'),
	url('~/assets/fonts/kamand/Woff/Kamand-Regular.woff') format('woff');
}
@font-face {
	font-family: Kamand;
	font-style: normal;
	font-weight: 500;
	src: url('~/assets/fonts/kamand/Woff2/Kamand-Medium.woff2') format('woff2'),
	url('~/assets/fonts/kamand/Woff/Kamand-Medium.woff') format('woff');
}
@font-face {
	font-family: Kamand;
	font-style: normal;
	font-weight: bold;
	src: url('~/assets/fonts/kamand/Woff2/Kamand-Bold.woff2') format('woff2'),
	url('~/assets/fonts/kamand/Woff/Kamand-Bold.woff') format('woff');
}
@font-face {
	font-family: Kamand;
	font-style: normal;
	font-weight: 800;
	src: url('~/assets/fonts/kamand/Woff2/Kamand-ExtraBold.woff2') format('woff2'),
	url('~/assets/fonts/kamand/Woff/Kamand-ExtraBold.woff') format('woff');
}
@font-face {
	font-family: Kamand;
	font-style: normal;
	font-weight: 900;
	src: url('~/assets/fonts/kamand/Woff2/Kamand-Black.woff2') format('woff2'),
	url('~/assets/fonts/kamand/Woff/Kamand-Black.woff') format('woff');
}
@font-face {
	font-family: Kamand;
	font-style: normal;
	font-weight: 1000;
	src: url('~/assets/fonts/kamand/Woff2/Kamand-ExtraBlack.woff2') format('woff2'),
	url('~/assets/fonts/kamand/Woff/Kamand-ExtraBlack.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
	.paused {
		animation-play-state: paused;
	}
}

@media (-webkit-min-device-pixel-ratio: 1.25),
(min--moz-device-pixel-ratio: 1.25) /* Older Firefox browsers (prior to firefox 16) */,
(min-resolution: 1.25dppx) {
	:root {
		zoom: 0.8;
	}
}